<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.sponsor_heading }}</h2>
<style>.centered-text {
    text-align:center
}   

.centered-text img { padding: 20px;}</style>
    <div class="span12 centered-text">
		
		{% for sponsor in site.data.sponsors %}
		   <a href="{{ sponsor.website }}" target="_blank" title="{{ sponsor.name }}"><img src="{{ site.baseurl }}/img/sponsors/{{ sponsor.logo }}"/></a>
		{% endfor %}
		</ul>	
    </div>

  </div>

</footer>


